// body {
//     font-family: 'Nunito', sans-serif;
//     color: graphiny-gray;
// }
.jan {
    margin: 20px;
    color: pink;
}
// Navbar
.navbar {
    background-color: ##81b29a !important;
    padding: 2% !important;
    color: #f8f9fa !important;
}
.nav-item {
    color: #f8f9fa !important;
}
.navbar-brand {
    color: #f8f9fa !important;
    font-size: x-large !important;
}
.btn-outline-success:hover {
    background-color: #000;
    border-color: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    background-color: #f0f0f0;
}
body {
    color: gray;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // -moz-font-feature-settings: "liga" on;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.btn {
    background-color: white;
    border: 1px solid grey;
    //border-radius: 1rem;
    color: grayscale($color: #3e3e3e);
    padding: 0.5rem;
    text-transform: lowercase;
}
.btn--block {
    display: block;
    width: 100%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
        width: 50%;
    }
    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}
.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    &:hover {
        .card__image {
            filter: contrast(100%);
        }
    }
}
.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}
.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    ;
    &::before {
        content: "";
        display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media(min-width: 40rem) {
        &::before {
            padding-top: 66.6%; // 3:2 aspect ratio
        }
    }
}
.card__image--a {
    background-image: url(https://images.unsplash.com/photo-1611789391381-14d00529c5b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
}
.card__image--b {
    background-image: url(https://images.unsplash.com/photo-1465940617394-6c04e5525665?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
}
.card__image--c {
    background-image: url(https://images.unsplash.com/photo-1618346146499-5a503b5e4893?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
}
.card__title {
    color: grey;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
